<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="ui-g">
    <div class="ui-g-3">
      <img class="logo" src="src/images/tempLogo.jpg">
    </div>
    <div class="ui-g-9">
      <h1 class="title">Chainey Briar Stables, LLC</h1>
    </div>
</div>


<!--<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <img class="logo" src="src/images/tempLogo.jpg">
    <h1 class="title">Chainey Briar Stables, LLC</h1>
  </mat-toolbar-row>
</mat-toolbar>-->


<mat-toolbar color="accent">
  <mat-toolbar-row class="navigation">
  <!--  <span><img class="logo" src="src/images/tempLogo.jpg"></span> -->
    <span><button mat-button routerLink="/home">Home</button></span>
    <span><button mat-button routerLink="/gallery">Gallery</button></span>
    <span><button mat-button routerLink="/clients">Clients</button></span>
    <span><button mat-button routerLink="/facilities">Facilities</button></span>
    <span><button mat-button routerLink="/boarding-services">Services</button></span>
    <span><button mat-button routerLink="/about">About</button></span>
  </mat-toolbar-row>
</mat-toolbar>
