<meta name="viewport" content="width=device-width, initial-scale=1.0">



<mat-toolbar class ="navigation" color="primary">
  <mat-toolbar-row>
    <span><img class="logo" src="assets/images/logo.jpg"></span>
    <span><h1 class="title">Chainey Briar Stables, LLC</h1></span>


    <span class="example-spacer"></span>


    <span><button mat-button routerLink="/home" routerLinkActive="mat-accent">Home</button></span>
    <span><button mat-button routerLink="/gallery" routerLinkActive="mat-accent">Gallery</button></span>
    <span><button mat-button routerLink="/clients" routerLinkActive="mat-accent">Clients</button></span>
    <span><button mat-button routerLink="/facilities" routerLinkActive="mat-accent">Facilities</button></span>
    <span><button mat-button routerLink="/boarding-services" routerLinkActive="mat-accent">Services</button></span>
    <span><button mat-button routerLink="/about" routerLinkActive="mat-accent">About</button></span>

  <!--  <span class="example-spacer"></span>  -->

<!--
    <span>
      <a target="_blank" href="https://www.facebook.com/ChaineyBriarStables/">
        <img class="logo" src="assets/images/face.png">
      </a>
    </span>
    <span>
      <img class="logo2" src="assets/images/phone.png" style="display:block">
      <img class="logo2" src="assets/images/email.png" style="margin-top:5px">
    </span>
    <span style="margin-left:2px">
      <p class="info" style="display:block">(843) 209-6810</p>
      <p class="info" style="display:block">maynevent@msn.com</p>

    </span>
    -->
  </mat-toolbar-row>

</mat-toolbar>
