

@media all and (max-width: 800px){
  mat-toolbar{
    max-height: 1vh;
  }
  button{
    padding-left: 12px;
    padding-right: 12px;
    min-height: 23px !important;
    min-width: 20px !important;
    font-size: 2.5vw !important;
    line-height: 0px;
  }
}

.mat-tab-label-active {
  color: #00ADEE !important;
}
.title{
    font-family: Arial, Times, sans-serif;
    font-size: 100%;
    text-align: left;
    margin-left: 1vw;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo{
  width:100%;
  max-width: 30px;
  height: auto;
}


.icons{
  display: block;
}
.navigation{
  position: fixed;
  top: 0;
}

.info {
  color: white;
  font-size: 1vw;
  margin: auto;
}
