.ui-g{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.title{
    color: #100;
    font-family: Arial, Times, sans-serif;
    font-size: 3vw;
    text-align: left;
}


.logo{
  width:30%;
  max-width: 75px;
  height: auto;
}
