.ui-g{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media all and (max-width: 800px){
  mat-toolbar{
    max-height: 1vh;
  }
  button{
    padding-left: 12px;
    padding-right: 12px;
    min-height: 23px !important;
    min-width: 20px !important;
    font-size: 2.5vw !important;
    line-height: 0px;
  }
}


.title{
    color: #100;
    font-family: Arial, Times, sans-serif;
    font-size: 3vw;
    text-align: left;
}


.logo{
  width:30%;
  max-width: 75px;
  height: auto;
}

.navigation{
  display: flex;

}
