<!-- mat-typography declares the material design typography for native elements -->
<div class="foot mat-typography">
  <div class="ui-g">

    <!-- Contact Information -->
    <div class="ui-g-12 footColumn">
      <h2>CONTACT</h2>
      <hr class="separator">
      <!-- <div class="ui-g-3">
        <div class="d-inline">
          <a class="d-inline" target="_blank" href="https://www.facebook.com/ChaineyBriarStables/">
            <img class="logo" src="src/images/face.png">
          </a>
        </div>
        <div class="d-inline">
          <h5 class="d-inline">Facebook</h5>
        </div>
      </div>
      <div class="ui-g-3">
        <img class="logo" src="src/images/phone.png">
      </div>
      <div class="ui-g-3">
        <img class="logo" src="src/images/email.png" style="margin-top:5px">
      </div>
      <div class="ui-g-3">
      </div> -->

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

      <span>
      </span>
      <p class="info" style="display:block">(843) 209-6810</p>
      <p class="info" style="display:block">maynevent@msn.com</p>
    </div>

    Useful Link
    <div class="ui-g-12 footColumn">
      <h2>USEFUL LINKS</h2>
      <hr class="separator">
    </div>

  </div>

  <!-- <div class="ui-g">
  <div class="ui-g-12">
  <a target="_blank" href="https://www.gohorse.com/chainey-briar-stables-llc-horse-stables-ridgeville-sc-54357">
  <button mat-raised-button>Contact Us</button>
</a>
</div>

<div class="ui-g-6">
<a target="_blank" href="https://stanceequitec.com/">
<img class="stance" src="src/images/stance.jpg" alt="stance">
</a>
</div>
<div class="ui-g-6">
<a target="_blank" href="https://www.gohorse.com/chainey-briar-stables-llc-horse-stables-ridgeville-sc-54357">
<img class="barefoot" src="src/images/logo2.jpg" alt="stance">
</a>
</div>
</div>
<p class="contactinfo">
Robin and Hardy Brown<br />
Chainey Briar Stables, LLC<br />
487 Stable Lane, Ridgeville, South Carolina 29472<br/>
(843) 209-6810
</p> -->
</div>
