<mat-divider class="divider"></mat-divider>

<div class="foot"align="center">
  <div class="ui-g">
    <div class="ui-g-6">
      <a target="_blank" routerLink="https://stanceequitec.com/">
        <img class="stance" src="src/images/stance.jpg" alt="stance">
      </a>
    </div>
    <div class="ui-g-6">
      <a target="_blank" href="img_5terre.jpg">
        <img class="barefoot" src="src/images/barefoot.jpg" alt="stance">
      </a>
    </div>
  </div>
  <p class="contactinfo">
             Robin and Hardy Brown<br />
            Chainey Briar Stables, LLC<br />
  487 Stable Lane, Ridgeville, South Carolina 29472<br/>
            (843) 209-6810
  </p>
</div>
