.foot{
  padding-top: 20px;
  background-color: #455a64;
}



.footColumn{
  color: white;
}

.separator {
  width: 100%;
  border-color: $accent;
}



.contactinfo{
  color: white;
  font-size: 1.5vw;
}

.logo{
  width:100%;
  max-width: 20px;
  max-height: 20px;
  height: 100%;
  padding-top: 5px;
}
