
<body class="fade fadeout">
  <div align="center">
    <h1> PASTURE BOARD: $375/per horse</h1>
    <h2> Amenities: </h2>
  </div>

  <div class="ui-g">
    <div class="ui-g-4">
      <mat-card color="primary" class="card" >
        <mat-card-header>
          <mat-card-title>Arena</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/arena.jpeg">
        <mat-card-content>
          <p>
            List of relevant experience for housing horses, dealing with animals,
            awards,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ui-g-4">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Wash Station</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/washstall.jpg">
        <mat-card-content>
          <p>
            Large open fields, peaceful grasslands
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ui-g-4">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Pasture</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/pasture.jpeg">
        <mat-card-content>
          <p>
            List of relevant experience for housing horses, dealing with animals,
            awards,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ui-g-4">
      <mat-card color="primary" class="card" >
        <mat-card-header>
          <mat-card-title>Arena</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/arena.jpeg">
        <mat-card-content>
          <p>
            List of relevant experience for housing horses, dealing with animals,
            awards,
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ui-g-4">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Wild life</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/Chickens.jpg">
        <mat-card-content>
          <p>
            Chickens
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ui-g-4">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Shelter</mat-card-title>
        </mat-card-header>
        <img class="amenities" src="src/images/Shelter.jpeg">
        <mat-card-content>
          <p>
            Gazebo to hang ou tand watch
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div align="center">
    <h1>Stance Equine Supplies:</h1>
    <p> All the special horse supplies that are buyable here
        that are directly supplied by Stance Equine, make second list.
    </p>
    <img class="stance" src="src/images/horseStance.jpg" alt="stance">
  </div>
</body>
