<div class="servicetab">
  <mat-tab-group background-color="primary">
    <mat-tab label="Boarding">
      <h1>Lodging horses:</h1>
      <p>You keep da horse here</p>
      <h1>Horse riding lessons?:</h1>
      <p> they got some people probably, teachem to ride a horse
          or whatever
      </p>
      <h1>Hoof Massage?(need real answers from Hardey)</h1>
    </mat-tab>
    <mat-tab label="Amennities">
      <ul class="amen">
        <li>Two round pens</li>
        <li>Outside lighted arena.</li>
        <li>Enclosed wash stall with hot and cold water.</li>
        <li>Beautiful individual tack lockers.</li>
        <li>24-hour turn out to pastures with access to shelter.</li>
      </ul>
    </mat-tab>
    <mat-tab label="Rates">
      <h1>Prices:</h1>
      <p>Chargem for the horses, $375/per horse</p>
    </mat-tab>
  </mat-tab-group>
</div>
