
<div class="ui-g">
  <div class="ui-g-6" align="center">
    <h1> PASTURE BOARD: $375/per horse</h1>
    <p> Start listing  any and all amenities that come
        with having the horse boarded here, Washing, free to ride in the obstacle,
        feeding, etc. <br>
        Make a list to display
    </p>
    <ul>
      <li>Two round pens.</li>
      <li>Outside lighted arena.</li>
      <li>Enclosed wash stall with hot and cold water.</li>
      <li>Beautiful individual tack lockers.</li>
      <li>24-hour turn out to pastures with access to shelter.</li>
      <li>Six 12' x 12' stalls with rubber mats; available for grooming, etc.</li>
      <li>Multiple pastures (no barbed wire).</li>
    </ul>
  </div>
  <div class="ui-g-6" align="center">
    <h1>Stance Equine Supplies:</h1>
    <p> All the special horse supplies that are buyable here
        that are directly supplied by Stance Equine, make second list.
    </p>
    <p>Picture of all the stuff, List of all the stuff</p>
  </div>
</div>
