.stance {
  width: 100%;
  max-width: 500px;
}


.card  {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.amenities {
 width: 100%;
 max-width: 400px;
}

.separator {
  width: 50%;
}

.card{
  background-color: #455a64;
}

.requirements{
  background-color: #d3c09f;
  width: 20vw;
  height: 15vh;
  border: solid;

  margin-left: auto;
  margin-right: auto;
}

.description{
  font-size: .75em;
}
