<body class="fade">
  <div class="group" align="center">


    <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false"></p-galleria>

      <p class="description">
        Example text: Talk about how friendly you guys are, the goal of
        the stables, to let others experience the joy of horses, or whatever
      </p>
  </div>

  <!-- creates grid to place two sets of people at a time, and their given
      description cards-->
  <div class="ui-g" align="center">
    <div class="ui-g-6">
      <div class="person">
        <div class="image-cropper">
          <img src="src/images/people2.jpg" class="rounded" />
        </div>
        <h1>Hardy</h1>
        <p> Talk about Hardy a lot here</p>
      </div>

    </div>
    <div class="ui-g-6">
      <div class="person">
        <div class="image-cropper">
          <img src="src/images/Robin.jpg" class="rounded" />
        </div>
        <h1>Robin</h1>
        <p>Talk about Robin a lot here</p>
      </div>
    </div>
  </div>
</body>
