.description  {
  color: #111;
  font-family: Arial, Times, sans-serif;
  font-size: 150%;
  max-width: 60ch;
  margin:auto;
  padding: 30px;
}






.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.rounded {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
