
<div class="group" align="center">
  <h2>Automatic Slideshow</h2>
  <p>Change image every 2 seconds:</p>


  <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="false"></p-galleria>

    <p class="description">
      Example text: Talk about how friendly you guys are, the goal of
      the stables, to let others experience the joy of horses, or whatever
    </p>
</div>

<!-- creates grid to place two sets of people at a time, and their given
    description cards-->
<div class="ui-g">
  <div class="ui-g-6">
    <mat-card color="primary" class="leftcard" >
      <mat-card-header>
        <mat-card-title>Hardy</mat-card-title>
        <mat-card-subtitle>Job/position</mat-card-subtitle>
      </mat-card-header>
      <img src="src/images/people2.jpg">
      <mat-card-content>
        <p>
          List of relevant experience for housing horses, dealing with animals,
          awards,
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="ui-g-6">
    <mat-card class="rightcard">
      <mat-card-header>
        <mat-card-title>Robin</mat-card-title>
        <mat-card-subtitle>Job/position</mat-card-subtitle>
      </mat-card-header>
      <img src="src/images/Robin.jpg">
      <mat-card-content>
        <p>
          List of relevant experience for housing horses, dealing with animals,
          awards,
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
