<body>


  <!-- creates grid to place two sets of people at a time, and their given
      description cards-->
  <div class="ui-g" align="center" style="margin-top: 10vh">
    <div class="ui-g-5" style="padding-left:300px">
      <div class="person">
        <div class="image-cropper">
          <img src="src/images/people2.jpg" class="rounded" />
        </div>
        <h1>Hardy</h1>
        <p> Talk about Hardy a lot here</p>
      </div>
    </div>

    <div class="ui-g-2">
      <h1> The Owners</h1>
    </div>

    <div class="ui-g-5" style="padding-right:300px">
      <div class="person">
        <div class="image-cropper">
          <img src="src/images/Robin.jpg" class="rounded" />
        </div>
        <h1>Robin</h1>
        <p>Talk about Robin a lot here</p>
      </div>
    </div>



    <div class="ui-g-6" style="padding-top: 15vh">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/00Rb2OiSeaw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="ui-g-6" style="padding-top: 15vh">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Nb0av7UsldQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>


  <div align="center" style="padding-top: 15vh">
    <h1> Directions </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26734.867581540573!2d-80.28605287365818!3d33.11280506148587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fef2773c2239f7%3A0xa0a8daf926f18311!2s487+Stable+Ln%2C+Ridgeville%2C+SC+29472!5e0!3m2!1sen!2sus!4v1537548830770" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</body>
