<div class="ui-g">
  <div class="ui-g-5">
    <img class="clientPicture" src="src/images/client.jpg">
  </div>
  <div class="ui-g-7" >
    <p class="clientInfo">Information about the client and the horse<p>
  </div>
  <mat-divider></mat-divider>
  <div class="ui-g-5">
    <img class="clientPicture" src="src/images/client2.jpg">
  </div>
  <div class="ui-g-7">
    <p class="clientInfo">Information about the client and the horse<p>
  </div>
  <mat-divider></mat-divider>
  <div class="ui-g-5">
    <img class="clientPicture" src="src/images/client3.jpg">
  </div>
  <div class="ui-g-7">
    <p class="clientInfo">Information about the client and the horse<p>
  </div>

</div>
