
<div class="cliens" align="center">
  <div class="client">
    <h1> Sara & Feather </h1>
    <p-galleria [images]="images"
                panelWidth="900"
                panelHeight="500"
                [showCaption]="false"
                [showFilmstrip]="false"
                [autoPlay]="false"></p-galleria>
    <ul class="description">
      <li>Info about </li>
      <li>Boarder</li>
    </ul>
  </div>

  <hr>
  <div class="client">
    <h1> Lauren & Jett </h1>
    <p-galleria [images]="images2"
                panelWidth="900"
                panelHeight="500"
                [showCaption]="false"
                [showFilmstrip]="false"
                [autoPlay]="false"></p-galleria>
    <ul class="description">
      <li>Info about </li>
      <li>Boarder</li>
    </ul>
  </div>
  <hr>
  <div class="client">
    <div class="slideshow-container">

      <div class="mySlides fade">
        <img src="src/images/SaraFeather.jpg" style="width:100%" >
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <img src="src/images/SaraFeather2.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <img src="src/images/SaraFeather3.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>

      </div>
    <br>
    <div style="text-align:center">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>
    <ul class="description">
      <li>Info about </li>
      <li>Boarder</li>
    </ul>
  </div>
</div>
