<body>
  <div class="clients" align="center">
    <div class="client">
      <h1 class="subtitle fancy"><span> Sara & Feather </span></h1>
      <p-galleria [images]="images"
                  panelWidth="900"
                  panelHeight="500"
                  [showCaption]="false"
                  [showFilmstrip]="false"
                  [autoPlay]="false"></p-galleria>
      <ul class="description">
        <li>Info about </li>
        <li>Boarder</li>
      </ul>
    </div>

    <hr>
    <div class="client">
      <h1> Lauren & Jett </h1>
      <p-galleria [images]="images2"
                  panelWidth="900"
                  panelHeight="500"
                  [showCaption]="false"
                  [showFilmstrip]="false"
                  [autoPlay]="false"></p-galleria>
      <ul class="description">
        <li>Info about </li>
        <li>Boarder</li>
      </ul>
    </div>

  </div>
</body>
