.client {
  padding: 100px;
}

.description {
  margin-left: 20vw;
  margin-right: 20vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
}

.subtitle {
  margin: 0 0 2em 0;
}

img{
  max-width: auto;
  max-height: 100%;
}

.card {
    background-color: #455a64;
}

.card-title {
  color: white;
}
.card-text {
  color: white;
}
