<body class="back" background="src/images/background.jpg">
  <div class="servicetab">
    <mat-tab-group background-color="primary">
      <mat-tab label="Outdoor">
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <ul class="details">
          <li>Information</li>
          <li>About</li>
          <li>The lay of the land</li>
        </ul>
      </mat-tab>
      <mat-tab label="Indoor">
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <ul class="Lodgings">
          <li>Information</li>
          <li>About</li>
          <li>The horse stables</li>
        </ul>
      </mat-tab>
      <mat-tab label="Grooming/Care">
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <span>
          <img src="src/images/ObstacleCourse.jpg" width="20%">
        </span>
        <ul class="details">
          <li>Information</li>
          <li>About</li>
          <li>The Wash room, tact room, grooming areas</li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>
