<body>
  <div class="back">
    <div class="servicetab">
      <mat-tab-group color="accent" backgroundColor="primary">
        <mat-tab label="Outdoor">
            <ul class="details">
              <li>Beautiful tree-lined driveway with a wrought-iron gate.</li>
              <li>Two round pens, large arena with obstacles.</li>
              <li>Pond for horses and humans to enjoy.</li>
            </ul>
        </mat-tab>
        <mat-tab label="Outdoor2">
          <ul class="details">
            <li>Dirt road that leads to several riding trails.  </li>
            <li>Pastures with run-in shelters and plenty of shade</li>
            <li>The horse stables</li>
          </ul>
        </mat-tab>
        <mat-tab label="Living Quarters">
          <ul class="details">
            <li>Tack room with personal lockers.</li>
            <li>Wash stall with hot/cold water.</li>
            <li>24-hour vet service available</li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</body>
