.servicetab{
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-style: solid;
}

.back{
  height: 800px;
  background-size: 100% 100%;


}

mat-tab-group{
  background-color: #795548;
}

span{
  margin: 2vw;
}
