<body>


<img height="100" width="80" id="1" data-toggle="modal" data-target="#myModal" src="assets/images/MckalaSavanah.jpg" alt='Text dollar code part one.' />
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img width="600" height="400" src="assets/images/MckalaSavanah.jpg">
      </div>
    </div>
  </div>

  <h1 align="center"> Boardered Horses</h1>

  <div class="row">
    <div class="column">
      <img src="assets/images/MckalaSavanah.jpg">
      <img src="assets/images/SaraFeather2.jpg">
      <img src="assets/images/Feather.jpg">
      <img src="assets/images/RobinJackson.jpg">
      <img src="assets/images/CharlieMalinda.jpg">
    </div>
    <div class="column">
      <img src="assets/images/BlackJackHeather.jpg">
  		<img src="assets/images/Feather2.jpg">
    	<img src="assets/images/SaraFeather3.jpg">
      <img src="assets/images/SaraFeather2.jpg">
      <img src="assets/images/Ollie.jpg">

    </div>
    <div class="column">
  		<img src="assets/images/Aries.jpg">
      <img src="assets/images/BlackJackGuiness.jpg">
      <img src="assets/images/AriesMalinda.jpg">
      <img src="assets/images/Charlie.jpg">
      <img src="assets/images/ChipDejaVu.jpg">
    </div>
    <div class="column">
  		<img src="assets/images/BriannaChip.jpg">
  		<img src="assets/images/horse2.jpg">
    	<img src="assets/images/BlackJackHeather.jpg">
      <img src="assets/images/OllieCourtney.jpg">
      <img src="assets/images/Feather3.jpg">
    </div>
  </div>


  <hr>


  <h1 align="center"> Personal Horses</h1>

  <div class="row">
    <div class="column">
      <img src="assets/images/RobinAries.jpg">
      <img src="assets/images/DejaVu2.jpg">
      <img src="assets/images/Dallaih.jpg">
    </div>
    <div class="column">
      <img src="assets/images/Evie Gertrude Dahlia.jpg">
  		<img src="assets/images/Robin-Dahlia.jpg">
      <img src="assets/images/RobinDalliah.jpg">
    </div>
    <div class="column">
  		<img src="assets/images/HardyMainEvent.jpg">
    	<img src="assets/images/RobinJackson.jpg">
      <img src="assets/images/RobinDejaVu.jpg">
    </div>
    <div class="column">
      <img src="assets/images/RobinJackson.jpg">
  		<img src="assets/images/HardyDejaVu.jpg">
      <img src="assets/images/SaraRobinRandomHorse.jpg">
    </div>
  </div>
</body>
<!--
<hr>


<h1 align="center">Bonus pictures</h1>

<div class="row">
  <div class="column">
    <img src="assets/images/RobinAries.jpg">
    <img src="assets/images/Robin&Jackson.jpg">
    <img src="assets/images/Dallaih.jpg">
  </div>
  <div class="column">
    <img src="assets/images/patio.jpg">
		<img src="assets/images/horse2.jpg">
  	<img src="assets/images/rainbow.jpg">

  </div>
  <div class="column">
		<img src="assets/images/horse2.jpg">
    <img src="assets/images/trail.jpg">
    <img src="assets/images/patio.jpg">
  </div>
  <div class="column">
		<img src="assets/images/patio.jpg">
		<img src="assets/images/horse2.jpg">
  	<img src="assets/images/rainbow.jpg">
  </div>
</div>
-->
