@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-grey,700);
  $accent: mat-palette($mat-grey,700);

  $theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
