<body class="back" background="src/images/gate.jpg">

<div class="introduction" align="center">
  <h1> Board Your Horse </h1>
  <h2> Friendly. Caring. Social. </h2>
</div>

<!-- links to other parts of the site to explore-->
<div class="ui-g">
  <div class="ui-g-4">
    <div class="link" align="center">
      <p class="linkDescription"> Clients </p>
      <a routerLink="/clients">
        <img class="photo" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="link" align="center">
      <p class="linkDescription"> Facilities </p>
      <a routerLink="/facilities">
        <img class="photo" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="link" align="center">
      <p class="linkDescription"> Services </p>
      <a routerLink="/boarding-services">
        <img class="photo" src="src/images/client.jpg">
      </a>
    </div>
  </div>
</div>

</body>
