<div>
<h2 class="description">
We offer a beautiful, quiet, private, and safe place with gaited entry for your horse to reside. Our stable is conveniently located in Ridgeville, SC close to I-26, on a dirt road off of Hwy 78 and close to Summerville, St. George, and not far from Charleston. There are plenty of trails to ride. We reside on the property and treat all horses as family. We are drama-free! Most of our boarders have been here a long time, some up to 12 years.
</h2>
</div>

<div align="center">

<h2>Automatic Slideshow</h2>
<p>Change image every 2 seconds:</p>

<p-galleria [images]="images" panelWidth="700" panelHeight="350" frameHeight="35"
  frameWidth="70"  [showCaption]="true"></p-galleria>
  <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>

</div>




<!-- links to other parts of the site to explore-->
<div class="ui-g">
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Clients </p>
      <a routerLink="/clients">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Facilities </p>
      <a routerLink="/facilities">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Services </p>
      <a routerLink="/boarding-services">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
</div>
