<div>
  <p class="description">
  We offer a beautiful, quiet, private, and safe place with gaited entry for your horse to reside. <br>
  Our stable is conveniently located in Ridgeville, SC close to I-26, on a dirt road off of Hwy 78 and close to Summerville, St. George, and not far from Charleston. <br>
  There are plenty of trails to ride. We reside on the property and treat all horses as family. We are drama-free! Most of our boarders have been here a long time, some up to 12 years.
  </p>
</div>






<!-- links to other parts of the site to explore-->
<div class="ui-g">
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Clients </p>
      <a routerLink="/clients">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Facilities </p>
      <a routerLink="/facilities">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
  <div class="ui-g-4">
    <div class="center">
      <p class="linkDescription"> Services </p>
      <a routerLink="/boarding-services">
        <img class="links" src="src/images/client.jpg">
      </a>
    </div>
  </div>
</div>
